# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Linters & Formatters
.mypy_cache/
.ruff_cache/

# SQLite databases
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# IDE & OS files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
